<div class="container hero-section">
  <div class="row">
    <div class="col-md-8 col-sm-12 hero__text">
      <div>
        <div class="row blobtop">
          <img src="../../../assets/images/camera.png" alt="" />
        </div>
        <div class="row">
          <h1 class="hero-section__first">Make Professional Quality</h1>
          <br />
          <h1 class="hero-section__first">Photo Album</h1>
        </div>
        <div class="row">
          <p>
            Store Memories, free of charge with no limitaions using UR.Gallery
          </p>
        </div>
        <div class="hero-section__btns">
          <div>
            <button class="btn__album1">Start here</button>
          </div>
          <div>
            <button class="btn__album2">Your Albums</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 hero__right" style="height: 81vh">
      <img
        src="../../../assets/images/heroImg.svg"
        class="hero__image"
        alt=""
      />
    </div>
  </div>
  
</div>
<div class="onestop__gallery">

</div>
